<a href="https://colab.research.google.com/github/AnkitAurora/Deep-Learning/blob/main/Artificial_Neural_Networks_Wgts_Initialization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We will see how a Neural Network will perform with various iterations of layers, weights initialization techniques

Mounting the Gooogle Drive

In [ ]:
import os
from google.colab import drive
drive.mount('drive/')

Mounted at drive/

In [ ]:
import os
os.chdir('/content/drive/MyDrive/Data_Science/Colab Notebooks/Deep Learning/')

Lets start with basic library import

In [ ]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load the Dataset

In [ ]:
# Load the dataset
dataset = pd.read_csv('Churn_Modelling.csv')

Let us have a look at dataset

In [ ]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

Looks like Column number and CustomerId looks not so important data to consider. So, we will drop them while building the model. Before that let us have a look at Info and describe of the dataset.

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

### No missing values in the dataset.

In [ ]:
dataset.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

Let us split the data into set of Dependent and Independent Attributes

In [ ]:
X = dataset.iloc[:, 3:13]  # Removed RowNumber and CustomerId as they are not important
y = dataset.iloc[:, -1]

Using Pandas library let's get dummies for Geography and Gender, we will say drop first to cut one more extra column

In [ ]:
geography = pd.get_dummies(X['Geography'], drop_first = True)
gender = pd.get_dummies(X['Gender'], drop_first = True)

Let's concatenate the newly created dummies with the actualy training dataset

In [ ]:
X = pd.concat([X, geography, gender], axis = 1)

Lets have a look at our dataset to make sure that concatenation happened

In [ ]:
X.head()

   CreditScore Geography  Gender  Age  ...  EstimatedSalary  Germany  Spain  Male
0          619    France  Female   42  ...        101348.88        0      0     0
1          608     Spain  Female   41  ...        112542.58        0      1     0
2          502    France  Female   42  ...        113931.57        0      0     0
3          699    France  Female   39  ...         93826.63        0      0     0
4          850     Spain  Female   43  ...         79084.10        0      1     0

[5 rows x 13 columns]

We will drop the Raw Columns of Gender and Geography

In [ ]:
X = X.drop(['Geography', 'Gender'], axis = 1)

Using scikit learn we will split the training testing data

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 123)

We will standardize the training data using scikit learn

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Lets import all the libraries

In [ ]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout
from tensorflow.keras.activations import relu, sigmoid

We will create a function for the creation of model by passing layers and activation function as arguments

In [ ]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes, input_dim = X_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
    model.add(Dense(units = 1, kernel_initializer='glorot_uniform', activation = 'sigmoid'))
    
    model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
    return model

Using GridSearch we will try to find out the best hyperparameters

In [ ]:
model =  KerasClassifier(build_fn = create_model, verbose = 0)

layers = [[20], [10, 20], [10, 15, 20]]
activations = ['sigmoid', 'relu']
param_grid = dict(layers = layers, activation = activations, batch_size = [128, 256], epochs = [30])
grid = GridSearchCV(estimator = model, param_grid = param_grid, cv = 5)
grid_result = grid.fit(X_train, y_train)
[grid_result.best_score_, grid_result.best_params_]

We will consider 0.5 as threshold, if the output value is greater than 0.5 then we will take it as 1 or yes the customer will churn

In [ ]:
pred_y = grid.predict(X_test)
y_pred = (pred_y > 0.5)

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/sequential.py:455: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

Using scikit learn we will pull confusion matrix and classification reports to see how acurately our best hyperparametrs have the best model

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, recall_score, precision_score, f1_score
cm = confusion_matrix(y_pred, y_test)
score = accuracy_score(y_pred, y_test)

print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

       False       0.97      0.86      0.92      1783
        True       0.42      0.80      0.55       217

    accuracy                           0.86      2000
   macro avg       0.70      0.83      0.73      2000
weighted avg       0.91      0.86      0.88      2000

In [ ]:
cm

array([[1542,  241],
       [  44,  173]])